<!DOCTYPE html>
<html lang="en">
<head>

<meta charset="utf-8">
<title>Lots of Patches</title>

<link rel="stylesheet" href="/css/style.css">

</head>
<body>
<div id="main">
<h1>Lots of Patches</h1>
<p>
	In this third part of the interactive cookbook, you'll find a number of well-documented 
	Sporth patches that can be run in the browser. Note that there are a few other places 
	where you can find patches:
</p>
<ul><li>
	<a href="/browse">The AudioMasher collection</a> has a growing number of patches, also generally 
	meant to be played in-browser. You can easily add your own patches there.
</li><li>
	<a href="http://paulbatchelor.github.io/proj/cook/">The original cookbook</a> has 
	some additional patches that aren't in the interactive version, because they rely on external files. 
	Try them out using the 
	<a href="https://github.com/PaulBatchelor/Sporth">native version of Sporth</a>.
</li><li>
	<a href="https://github.com/PaulBatchelor/Sporth/tree/master/examples">The examples</a> 
	included with the Sporth distribution demonstate a variety of Sporth ugens.
	<div class="sporthex_container">
<a href="/sporthex/allpass.sp">allpass.sp</a>
<a href="/sporthex/atone.sp">atone.sp</a>
<a href="/sporthex/biscale.sp">biscale.sp</a>
<a href="/sporthex/bitcrush.sp">bitcrush.sp</a>
<a href="/sporthex/blsaw.sp">blsaw.sp</a>
<a href="/sporthex/blsquare.sp">blsquare.sp</a>
<a href="/sporthex/bltriangle.sp">bltriangle.sp</a>
<a href="/sporthex/branch.sp">branch.sp</a>
<a href="/sporthex/buthp.sp">buthp.sp</a>
<a href="/sporthex/butlp.sp">butlp.sp</a>
<a href="/sporthex/cdb.sp">cdb.sp</a>
<a href="/sporthex/clip.sp">clip.sp</a>
<a href="/sporthex/comb.sp">comb.sp</a>
<a href="/sporthex/conv.sp">conv.sp</a>
<a href="/sporthex/conv_simple.sp">conv_simple.sp</a>
<a href="/sporthex/count.sp">count.sp</a>
<a href="/sporthex/crossfade.sp">crossfade.sp</a>
<a href="/sporthex/delay.sp">delay.sp</a>
<a href="/sporthex/dialtone.sp">dialtone.sp</a>
<a href="/sporthex/diode.sp">diode.sp</a>
<a href="/sporthex/dmetro.sp">dmetro.sp</a>
<a href="/sporthex/drip.sp">drip.sp</a>
<a href="/sporthex/dtrig.sp">dtrig.sp</a>
<a href="/sporthex/edo.sp">edo.sp</a>
<a href="/sporthex/expon.sp">expon.sp</a>
<a href="/sporthex/f.sp">f.sp</a>
<a href="/sporthex/fm.sp">fm.sp</a>
<a href="/sporthex/fof.sp">fof.sp</a>
<a href="/sporthex/fog.sp">fog.sp</a>
<a href="/sporthex/gbuzz.sp">gbuzz.sp</a>
<a href="/sporthex/gen_line.sp">gen_line.sp</a>
<a href="/sporthex/gen_sinesum.sp">gen_sinesum.sp</a>
<a href="/sporthex/gen_sporth.sp">gen_sporth.sp</a>
<a href="/sporthex/jitter.sp">jitter.sp</a>
<a href="/sporthex/kona.sp">kona.sp</a>
<a href="/sporthex/ladspa.sp">ladspa.sp</a>
<a href="/sporthex/line.sp">line.sp</a>
<a href="/sporthex/load.sp">load.sp</a>
<a href="/sporthex/lpc.sp">lpc.sp</a>
<a href="/sporthex/lsys.sp">lsys.sp</a>
<a href="/sporthex/maygate.sp">maygate.sp</a>
<a href="/sporthex/metro.sp">metro.sp</a>
<a href="/sporthex/mincerbuf.sp">mincerbuf.sp</a>
<a href="/sporthex/mode.sp">mode.sp</a>
<a href="/sporthex/moogladder.sp">moogladder.sp</a>
<a href="/sporthex/nsmp.sp">nsmp.sp</a>
<a href="/sporthex/osc.sp">osc.sp</a>
<a href="/sporthex/padsynth.sp">padsynth.sp</a>
<a href="/sporthex/pan.sp">pan.sp</a>
<a href="/sporthex/pareq.sp">pareq.sp</a>
<a href="/sporthex/paulstretch.sp">paulstretch.sp</a>
<a href="/sporthex/pdhalf.sp">pdhalf.sp</a>
<a href="/sporthex/phaser.sp">phaser.sp</a>
<a href="/sporthex/pluck.sp">pluck.sp</a>
<a href="/sporthex/pluck_simple.sp">pluck_simple.sp</a>
<a href="/sporthex/pluck_stereo.sp">pluck_stereo.sp</a>
<a href="/sporthex/port.sp">port.sp</a>
<a href="/sporthex/portamento.sp">portamento.sp</a>
<a href="/sporthex/posc3.sp">posc3.sp</a>
<a href="/sporthex/print.sp">print.sp</a>
<a href="/sporthex/prop.sp">prop.sp</a>
<a href="/sporthex/pshift.sp">pshift.sp</a>
<a href="/sporthex/ptrack.sp">ptrack.sp</a>
<a href="/sporthex/randh.sp">randh.sp</a>
<a href="/sporthex/randi.sp">randi.sp</a>
<a href="/sporthex/reverse.sp">reverse.sp</a>
<a href="/sporthex/revsc.sp">revsc.sp</a>
<a href="/sporthex/rms.sp">rms.sp</a>
<a href="/sporthex/rpt.sp">rpt.sp</a>
<a href="/sporthex/samphold.sp">samphold.sp</a>
<a href="/sporthex/seq.sp">seq.sp</a>
<a href="/sporthex/slicer.sp">slicer.sp</a>
<a href="/sporthex/slist.sp">slist.sp</a>
<a href="/sporthex/smoothdelay.sp">smoothdelay.sp</a>
<a href="/sporthex/sndwarp.sp">sndwarp.sp</a>
<a href="/sporthex/sporth_poly.sp">sporth_poly.sp</a>
<a href="/sporthex/streson.sp">streson.sp</a>
<a href="/sporthex/tabread.sp">tabread.sp</a>
<a href="/sporthex/talkbox.sp">talkbox.sp</a>
<a href="/sporthex/tdiv.sp">tdiv.sp</a>
<a href="/sporthex/tenv.sp">tenv.sp</a>
<a href="/sporthex/tenv2.sp">tenv2.sp</a>
<a href="/sporthex/timer.sp">timer.sp</a>
<a href="/sporthex/tog.sp">tog.sp</a>
<a href="/sporthex/tone.sp">tone.sp</a>
<a href="/sporthex/tphasor.sp">tphasor.sp</a>
<a href="/sporthex/trand.sp">trand.sp</a>
<a href="/sporthex/transmission.sp">transmission.sp</a>
<a href="/sporthex/tri.sp">tri.sp</a>
<a href="/sporthex/tseq.sp">tseq.sp</a>
<a href="/sporthex/variables.sp">variables.sp</a>
<a href="/sporthex/vdelay.sp">vdelay.sp</a>
<a href="/sporthex/waveset.sp">waveset.sp</a>
<a href="/sporthex/zitarev.sp">zitarev.sp</a>
<a href="/sporthex/zrev.sp ">zrev.sp </a>
</div>
</li></ul>
<hr />
<a href="/learn">Back</a>
</div>
</body>
</html>
